*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: #f79256;
}

.container{
    height: 95vh;
    width: 30vw;
    background: #fbd1a2;
    border-radius: 1rem;
    text-align: center;
}
.input{
    margin-top: 2em;
    height: 15vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    width: 80%;
    height: 100%;
    border-radius: 1rem;
    outline: none;
    font-size: 35px;
    background: #7dcfb6;
    color: #1d4e89;
    border: 1px solid #1d4e89;
}
.mar{
    margin-top: 1.5em;
}
.key-row{
    text-align: center;
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
}
.btn{
    height: 12vmin;
    width: 12vmin;
    margin: 3px;
    background-color: #d56062;
    color: #ecc30b;
    border-radius: 1rem;
    font-size: 25px;
    border: none;
}
.btn:hover{
    background-color: #ecc30b;
    color: #d56062;
    cursor: pointer;
}
.equal{
    width: 9.8rem;
    color: #ffd275;
}
